##image versions
POSTGRES_VERSION=17.0
KC_VERSION=26.0.6
RD_VERSION=8.2.3-alpine
CONFLUENT_VERSION=7.7.7
DEBEZIUM_VERSION=3.1.2
KF_UI_VERSION=v1.4.2
MAILPIT_VERSION=v1.29

#postgres
PG_HOST=postgres
PG_PORT_HOST=5432
PG_PORT=5432
PG_USER=your-db-user
PG_PASSWORD=your-db-password
PG_DB=maintenance_db
PG_INIT_PATH=./docker/init-db.sql

#keycloak
KC_PORT_HOST=8443
KC_ADMIN=admin
KC_ADMIN_PASSWORD=your-keycloak-admin-password
KC_PUBLIC_BASE_URL=http://localhost:8443
KC_INTERNAL_BASE_URL=http://keycloak:8080
KC_REALM=event-app-realm

#redis
RD_HOST=redis
RD_PORT=6379
RD_PASSWORD=your-redis-password

#kafka
KF_HOST=localhost
KF_PORT=9096
CLUSTER_ID=your-kafka-cluster-id
KF_CONTROLLER_PORT=29093
KF_INTERNAL_PORT=9090
KF_REPLICATION_FACTOR=1
KF_UI_PORT=8800

#schema-registry
SC_REGISTRY_HOST=localhost
SC_REGISTRY_PORT=8181
SC_REGISTRY_HOST_URL=http://localhost:8181
SC_REGISTRY_URL=http://schema-registry:8081

#kafka-connect
KF_CONNECT_PORT=8183
KF_CONNECT_URL=http://connect:8083

#discovery-server
DISCOVERY_PORT=8761
DISCOVERY_SERVICE_URL=http://discovery-server:8761/eureka/

#config-service
CONFIG_SERVICE_PORT=8888
GATEWAY_MANAGEMENT_PORT=9080
CONFIG_SERVER_URL=http://config-service:8888
CONFIG_REPO_URL=https://github.com/your-username/your-config-repo
GIT_USERNAME=your-github-username
REPO_PAT=your-github-pat

#api-gateway
GATEWAY_PORT=8080
SESSION_SECURE=false
KC_GATEWAY_CLIENT_ID=api-gateway
KC_GATEWAY_CLIENT_SECRET=your-gateway-client-secret
FRONTEND_URL=http://localhost:4200

#user-service
USER_SERVICE_PORT=8082
KC_USER_SERVICE_CLIENT_ID=identity-manager
KC_USER_SERVICE_SECRET=your-user-service-client-secret

#event-service
EVENT_SERVICE_PORT=8083
EVENT_SERVICE_GRPC_PORT=9093
RESERVATION_TTl=10m

#shared-booking-payment-notification
HMAC_SECRET_KEY=your-hmac-secret-key

#booking-service
BOOKING_SERVICE_PORT=8084
BOOKING_SERVICE_GRPC_PORT=9094
KF_BOOKING_CONSUMER_GROUP_ID=booking-service-group
KF_BOOKING_PROTOBUF_TYPE=com.eventapp.contracts.payment.v1.PaymentEvent
INV_LOCK_MIN=10
INV_SHADOW_BUFFER_MIN=1
INV_SENTINEL_MIN=60

#payment
PAYMENT_SERVICE_PORT=8085
KF_PAYMENT_CONSUMER_GROUP_ID=payment-service-group
KF_PAYMENT_PROTOBUF_TYPE=com.eventapp.contracts.booking.v1.RefundRequested

#notification
NOTIFICATION_SERVICE_PORT=8086
KF_NOTIFICATION_CONSUMER_GROUP_ID=notification-service-group
KF_NOTIFICATION_PROTOBUF_TYPE=com.eventapp.contracts.booking.v1.BookingConfirmed
MAIL_HOST=mailpit
MAIL_USERNAME=your-mail-username
MAIL_PASSWORD=your-mail-password
MAIL_FROM='EventApp <noreply@eventapp.com>'

#pgAdmin
PGADMIN_PORT_HOST=8000
PGADMIN_DEFAULT_EMAIL=your-pgadmin-email
PGADMIN_DEFAULT_PASSWORD=your-pgadmin-password

#smtp
SMTP_PORT=1025
MAILPIT_UI_PORT=8025
